@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;500&family=Lilita+One&family=Madimi+One&family=Modak&family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;500&family=Lilita+One&family=Madimi+One&family=McLaren&family=Modak&family=Nova+Round&display=swap');

.highlightPink {
  font-weight: 400;
  color: #AD0035;
}

.highlightBlue {
  font-weight: 400;
  color: #246DC3;
}

.nav-center {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: start;
  margin-left: 10%;
}

.nav-center ul {
  display: flex;
  padding: 0;
}
.nav-center ul li {
  list-style-type: none;
  margin: 0 1.25rem;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-right {
  margin-left: auto;
  border-radius: 5px;
  align-items: center;
  padding: 20px;
}
